<ion-view view-title="Home">
    <ion-nav-buttons >
      <button class="button icon-right ion-help-circled button-clear"></button>
    </ion-nav-buttons>
  <ion-content class="padding">
      <div class ="emergency call">
          <button class="emergencycall">Emergency Call</button>
      </div>
    <div class="list card">
      <div class="item item-divider item-balanced">Upcoming reminders  </div>
      <div class="item item-body">
        <div>
          One tablet of <b>Aspirin</b> at 5:00PM today.
        </div>
      </div>
    </div>
    
    <div class="list card">
        <div class="item item-divider item-balanced">Reminder History</div>
        <div class="item item-body">
            <div>
                <b>Vitamin B</b> taken at 8:31AM today.
            </div>
        </div>
        <div class="item item-body">
            <div>
                <b>Fish Oil</b> taken at 9AM today.
            </div>
        </div>
        
    </div>
    
  </ion-content>
</ion-view>
